*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    height: 100%;
}
.page-bg{
    background-image: url('../images/main-banner.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    min-height: 100vh;
}
.login-banner-right{
    background-image: url('../images/login-banner.svg');
    background-position:bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.login-heading{
    padding-bottom: 70px;
}
.login-heading h1{
    color:#F89822 ;
    font-size: 40px;
}
.login-heading p{
color: #8B8B8A;
font-size: 18px;
}
.login-email-field label{
    color: #001933;
    font-size: 14px;
}
.login-email-field input{
    background-color:#E5E5E5 ;
    height: 60px;
    border-radius: 10px;
    border: none;
}
.login-email-field input:active,.login-email-field input:focus{
    background-color:#E5E5E5 ;
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none !important;
    box-shadow: none !important;
}
.login-email-field input:-webkit-autofill,
.login-email-field input:-webkit-autofill:hover, 
.login-email-field input:-webkit-autofill:focus, 
.login-email-field input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #E5E5E5 inset !important;
}
.login-btn{
    background-color:#063A6D ;
    color: white;
    border: none;
    height: 50px;
    width: 300px;
    border-radius: 10px;
}
.login-footer p{
color: #F89822;
font-size: 14px;
}
.login-content-outer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.login-content{
    width: 80%;
}
.login-button-outer{
    padding-top: 70px;
    padding-bottom: 70px;
}
.login-logo h1{
    color: white;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
}
.login-logo h1 span{
    font-weight: bold;
}
.login-banner-right{
    position: relative;
}
.login-logo{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.login-email-field{
    position: relative;
}
.login-email-field img{
    position: absolute;
    right: 25px;
    top: 51px;
}
.create-account a {
    text-decoration: none;
    color: #F89822;
}
/* create account */
.signup-heading{
    padding-bottom: 20px !important;
}
/* setting */
.setting-section{
    background: linear-gradient(134.54deg, rgba(250, 250, 250, 0.749) -8.09%, rgba(255, 255, 255, 0.349) 110.07%);
border-radius: 10px;
}
.setting-heading h1{
    color: rgba(63, 71, 101, 1);
    font-size: 20px;
}
.setting-section-heading h1{
color: rgba(248, 152, 34, 1);
font-size: 20px;
}
/* setting dropdown collapse */

#main {
    margin: 50px 0;
  }
  
  #main #faq .card {
    margin-bottom: 30px;
    border: 0;
  }
  
  #main #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
            box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    padding: 0;
  }
  
  #main #faq .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    background: white;
    color: #222;
    padding: 20px;
  }
  
  #main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
  }
  
  #main #faq .card .card-header .btn-header-link.collapsed {
    background: white;
    color: black;
  }
  
  #main #faq .card .card-header .btn-header-link.collapsed:after {
    content: "\f105";
    padding-top: 10px;
  }
  #main #faq .card .stripe-key-header .btn-header-link.collapsed:after {
    content: "\f105";
    padding-top: 0px;
  }

  
  #main #faq .card .collapsing {
    background: white;
    line-height: 30px;
  }
  
  #main #faq .card .collapse {
    border: 0;
  }
  
  #main #faq .card .collapse.show {
    background: white;
    line-height: 30px;
    color: #222;
  }
  .setting-card-header a{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  .setting-card{
    margin-bottom: 15px !important;
  }
  .setting-card-body-inner table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 3000px;
    border-collapse: collapse;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .setting-card-body-inner table tr th{
    background-color: #012245;
    color: white;
  }
  
  
  .setting-card-body-inner table tr th, .setting-card-body-inner table tr td {
    text-align: left;
    padding: 8px;
    border: 1px solid #E4E4E4;
    border-top: 0px;
    border-left: 0px;
    font-weight: normal;
    font-size: 14px;
  }
  .setting-card-body-inner table tr th:last-of-type, .setting-card-body-inner table tr td:last-of-type {
    border-right: 0px

  }
  .setting-card-body-inner::-webkit-scrollbar {
    width: 10px;
    height:5px;
}
.setting-card-body-inner::-webkit-scrollbar-track {
    background-color: #ebebeb !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
}
.setting-card-body-inner::-webkit-scrollbar-thumb {
  border-radius: 10px;
    background: #F89822;
}
.setting-card-button button{
  border: none;
  background: none;
  width: 115px;
  height: 34px;
  font-size: 18px;
  border-radius: 10px;
}
.setting-card-button .edit{
  border: 1px solid #F89822;
  color: #F89822;
  margin-right: 10px;
 
}
.setting-card-button .edit:hover{
  background: #F89822;
  color: white
}
.setting-card-button .save{
  border: 1px solid #063A6D;
  color:#063A6D;
 
}
.setting-card-button .save:hover{
  background: #063A6D;
  color: white;
 
}
.stripe-key label{
  color: #001933;
  font-size: 14px;
  padding-left: 20px;
  font-weight: 400;
}
.stripe-key input{
  height: 60px;
  background: #F8F8F8;
  border-radius: 10px;
  border: none;
}
.stripe-key input::placeholder{
  font-size: 14px;
}
.stripe-key input:active,.stripe-key input:focus{
  outline: none;
  box-shadow: none;
  border: none;
  background: #F8F8F8;
}
.stripe-key input:-webkit-autofill,
.stripe-key input:-webkit-autofill:hover, 
.stripe-key input:-webkit-autofill:focus, 
.stripe-key input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #F8F8F8 inset !important;
}
.stripe-key-btn button{
  background: #063A6D;
  border-radius: 7px;
  height: 56px;
  width: 270px;
  color: white;
  font-size: 18px;
  border: none;
}