* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 250px;
  min-height: 100vh;
}

.navbar-bg {
  z-index: 9999;
  background-image: url("../website-images/navbar-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  .navbar-bg {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.navbar-bg button img {
  width: 30px;
}

.navbar-nav .nav-item.active {
  color: #ffffff !important;
}

.navbar-nav .nav-item.active .nav-link {
  color: #ffffff;
  font-size: 16px;
}

.navbar-nav .nav-item .nav-link {
  color: #ffffff;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .navbar-nav .nav-item .nav-link {
    padding: 8px 20px;
  }
}

.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:focus, .navbar-nav .nav-item .nav-link:active {
  color: #ffffff;
}

.navbar-nav li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav li:last-child .nav-link {
  background: #F89822;
  border-radius: 26px;
  padding: 4px 15px;
}

/*FOOTER*/
.footers {
  background-image: url("../website-images/footer-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footers a {
  color: #fff;
  font-size: 16px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.footers a:hover {
  color: #ffffff;
  text-decoration: none;
}

.footers .footer-pad h4 {
  color: #F89822;
  font-size: 14px;
}

.footers .copy {
  padding: 10px;
  border-top: 1px solid #033366;
}

.footers .copy p {
  font-size: 14px;
}

.footers .footer-middle {
  padding-top: 2em;
  color: white;
}

.hero-section {
  position: relative;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.hero-section .hero-image {
  width: 100%;
  margin-top: -10%;
}

.hero-section .hero-form-section {
  background: rgba(0, 0, 0, 0.39);
  border-radius: 16px;
  width: 50%;
  padding: 40px 20px;
}

.hero-section .hero-form-section form button {
  background: #F89822;
  color: black;
  height: 50px;
}

.hero-section .hero-form-section form .left-inner-addon {
  position: relative;
}

.hero-section .hero-form-section form .left-inner-addon img {
  position: absolute;
  padding: 12px 12px;
  pointer-events: none;
  width: 50px;
  z-index: 999;
  top: 0px;
  left: -5px;
}

.hero-section .hero-form-section form .left-inner-addon .phone-extension {
  position: absolute;
  padding: 4px 12px;
  pointer-events: none;
  width: 50px;
  z-index: 999;
  top: 11px;
  left: 24px;
  color: #3F4765;
  font-size: 13px;
  border-right: 1px solid #3f476561;
}

.hero-section .hero-form-section form .left-inner-addon input {
  padding-left: 80px !important;
  height: 50px;
}

.hero-section .hero-form-section.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1600px) {
  .hero-section .hero-form-section {
    width: 60%;
    padding: 50px 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .hero-section .hero-form-section {
    width: 60%;
  }
}

@media screen and (max-width: 575px) {
  .hero-section .hero-form-section {
    width: 70%;
    padding: 10px 10px;
  }
  .hero-section .hero-form-section.centered {
    top: 28%;
  }
  .hero-section .hero-form-section form .left-inner-addon img {
    width: 45px;
    top: -5px;
  }
  .hero-section .hero-form-section form .left-inner-addon input {
    height: 35px;
  }
  .hero-section .hero-form-section form .left-inner-addon .phone-extension {
    top: 4px;
  }
  .hero-section .hero-form-section form button {
    height: 35px;
  }
}

.service-section {
  position: relative;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.service-section .service-section-bg {
  width: 100%;
  margin-top: -20%;
}

@media screen and (max-width: 991px) {
  .service-section .service-section-bg {
    display: none;
  }
}

.service-section .service-heading {
  position: absolute;
  top: 0px;
  left: 15%;
}

.service-section .service-heading h1 {
  font-size: 3vw;
  color: white;
  font-weight: bold;
  width: 70%;
}

@media screen and (max-width: 991px) {
  .service-section .service-heading {
    background-color: #F89822;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .service-section .service-heading h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0px;
  }
}

.service-section .service-list {
  position: absolute;
  top: -31px;
  left: 37%;
  width: 50%;
}

@media screen and (max-width: 991px) and (min-width: 300px) {
  .service-section .service-list {
    top: 22%;
    width: 100%;
    left: 0;
    background: #F0F7FF;
    min-height: 300px;
  }
  .service-section .service-list .service-inner-list {
    padding-top: 60px;
  }
}

.service-section .service-list .service-inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service-section .service-list .service-inner-list .service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-section .service-list .service-inner-list .service-card .service-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.service-section .service-list .service-inner-list .service-card .service-card-content p {
  margin-bottom: 0px;
  font-size: 24px;
}

.service-section .service-list .service-inner-list .service-card .service-card-content p:first-of-type {
  color: #433A2A;
}

.service-section .service-list .service-inner-list .service-card .service-card-content p:last-of-type {
  color: #F89822;
  font-weight: bold;
}

@media screen and (max-width: 1070px) and (min-width: 992px) {
  .service-section .service-list .service-inner-list .service-card .service-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .service-section .service-list .service-inner-list .service-card .service-card-content p {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */